body{
    background-image: url(https://media.istockphoto.com/photos/abstract-white-building-transparent-interior-glass-ceiling-rooftop-picture-id1148429282);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;



}